OTEL_COLLECTOR_IMAGE=otel/opentelemetry-collector-contrib:0.108.0
CENTRAL_OTLP_ENDPOINT=host.docker.internal:4317
CENTRAL_OTLP_INSECURE=true
DEPLOYMENT_ENVIRONMENT=development
HOST_NAME=local-dev-host
HOST_ID=local-dev-host
LOCAL_DEFAULT_BATCH_TIMEOUT=5s
LOCAL_LOG_BATCH_TIMEOUT=250ms
LOCAL_LOG_POLL_INTERVAL=200ms
