OTEL_COLLECTOR_IMAGE=otel/opentelemetry-collector-contrib:0.108.0
CENTRAL_OTLP_ENDPOINT=central-otel-collector.internal:4317
CENTRAL_OTLP_INSECURE=true
DEPLOYMENT_ENVIRONMENT=production
HOST_NAME=ip-10-0-0-10
HOST_ID=i-0123456789abcdef0
